body{
    background-color: #f2f2f2;
}

#board {
    margin-left: 5px;
    margin-right: 5px;
    border-collapse: collapse;
}

#board td{
    /*border: 1px solid rgb(175, 216, 248);*/
    width: 25px;
    height: 25px;
}

.normal{
  border: 1.5px solid rgb(0,0,0);
  background-color:white;
}

.wall{
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  border: 1.5px solid rgb(0,0,0);
}

/* Header Buttons */
.visualizeAvailable{
  background-color:white;
}
.visualizeUnavailable{
  background-color:red;
}

@keyframes wallAnimation {
  0% {
    transform: scale(.1);
    background-color: darkgrey;
  }

  50% {
    transform: scale(1.2);
    background-color: darkgrey;
  }

  100% {
    transform: scale(1);
    background-color: darkgrey;
  }
}

.visited{
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: lightgreen;
    border: 1.5px solid rgb(0,0,0);
  }

  75% {
    transform: scale(1.2);
    background-color: lightseagreen;
    border: 1.5px solid rgb(0,0,0);
  }

  100% {
    transform: scale(1.0);
    background-color: turquoise;
    border: 1.5px solid rgb(0,0,0);
  }
}

.start{
    background-image:url(../images/pathFindingStartIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.target{
    background-image: url(../images/pathFindingTargetIcon.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes specialNodes {
  0% {
    transform: scale(.3);
    /*background-color: darkslategrey;*/
  }

  50% {
    transform: scale(1.2);
    /*background-color: darkslategrey;*/
  }

  100% {
    transform: scale(1.0);
    /*background-color: darkslategrey;*/
  }
}